* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, #190361, #bb00ff);
    animation: gradient 10s ease infinite;
    background-size: 200% 200%;
    height: 100vh;
}

main {
    border-radius: .5rem;
    background: #FFF;
    padding: 4.8rem 6.4rem;
    box-shadow: 0 2.0rem 5.0rem 0 rgba(0, 0, 0, 0.80);
}

.screen1 h2 {
    width: 25.8rem;
    color: #34355B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.screen1 p {
    color: #34355B;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.4rem 0 2.0rem;
}

.screen1 img {
    width: 24.8rem;
    height: 19.1rem;
    cursor: pointer;
}

.screen1 img:hover {
    animation: vibrate .5s infinite;
}

.screen2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.7rem;
}

.screen2 h2 {
    width: 29.7rem;
    color: #34355B;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fortuneMessage {
    width: 27.3rem;
    color: #000;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
    padding: 1.0rem;
    animation: slide-in 2s;
}

button {
    width: 17.4rem;
    height: 5.2rem;
    border-radius: .4rem;
    background: #FF9500;
    padding: 1.6rem;
    color: #FFF;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #bd6f02;
}

.hide {
    display: none;
}

@keyframes vibrate {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-2px, -2px);
    }
    20% {
      transform: translate(2px, -2px);
    }
    30% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, -2px);
    }
    70% {
      transform: translate(-2px, 2px);
    }
    80% {
      transform: translate(-2px, -2px);
    }
    90% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  @keyframes slide-in{
    0% {
      transform:translateY(100px);
      opacity:0
    }
      
    100% {
      transform:translateY(0);
      opacity:1
    }
  }

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}